{
  "root": true,
  "extends": [
    "plugin:vue/essential",
    "@vue/typescript"
  ],
  "env": {
    "amd": true
  },
  "rules": {
    "vue/multi-word-component-names": "off"
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  }
}
